{
  "presets": [
    ["env", {
      "modules": false,
      "useBuiltIns": true,
      "targets": {
        "browsers": ["last 3 versions"]
      }
    }]
  ],
  "env": {
    "browse": {
      "plugins": ["istanbul"]
    }
  }
}